@font-face {
  font-family: 'Netflix Sans';
  font-weight: 400;
  font-display: optional;
  src: url(https://assets.nflxext.com/ffe/siteui/fonts/netflix-sans/v3/NetflixSans_W_Rg.woff2)
      format('woff2'),
    url(https://assets.nflxext.com/ffe/siteui/fonts/netflix-sans/v3/NetflixSans_W_Rg.woff)
      format('woff');
}

@font-face {
  font-family: 'Netflix Sans';
  font-weight: 700;
  font-display: optional;
  src: url(https://assets.nflxext.com/ffe/siteui/fonts/netflix-sans/v3/NetflixSans_W_Md.woff2)
      format('woff2'),
    url(https://assets.nflxext.com/ffe/siteui/fonts/netflix-sans/v3/NetflixSans_W_Md.woff)
      format('woff');
}

body {
  background-color: #141414;
  color: #fff;
  font-family: 'Netflix Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  line-height: 1;
  box-sizing: border-box;
}

.main-container {
  width: 100%;
  overflow-x: hidden;
}

.container {
  margin: 0 0 0 2rem;
}

.navbar {
  max-height: 50px;
  width: auto;
/*   position: sticky; */
  top: 0;
  background-color: #141414fb;
  margin-top: -100px;
  z-index: 10;
}

.searchHeader {
  position: absolute;
  /*  top: 5px;
  right: 20px; */
  top: 0;
  right: -40px;
  /*   width: 17em; */
  height: 2.75em;
  background-image: url('https://i.imgur.com/AfD3qAs.png');
  background-size: 120%;
}

.info-section {
  position: absolute;
  margin-top: 33%;
  margin-left: 7%;
  max-height: 65%;
  width: 75%;
  word-wrap: break-word;
  hyphens: none;
  -webkit-hyphens: none;
}

.genre {
 /*  margin-left: -50px; */
  margin-bottom: 5px;
  font-weight: 700;
  color: #e5e5e5;
}

.movie-row {
  /* margin-left: .9375rem; */
 /*  margin-left: 4em; */
}

.movie-section {
  /*  display: flex; */
  display: inline-flex;
  /*  position: relative; */
  z-index: 8;
  width: 120%;
  /*  width: 100%; */
}

.button-section {
  display: flex;
}

.button {
  border-radius: 6px;
  background-color: #fff;
  color: #000;
  padding: 10px 10px;
  margin: 3px;
}

.more {
  background-color: rgb(255, 255, 255, 0.5);
}

h3 {
  margin-left: -10;
}

.card {
  width: 230px;
  border-radius: 2px;
  margin: 2px;
  transition: transform 500ms;
  position: relative;
  display: block;
  background-color: #141414;
}

video {
 /*  width: 100%;
  border-radius: 2px; */
  border-radius: 2px;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  width: inherit;
}

.hero {
  width: 100%;
  margin-top: -100px;
  padding: 0;
}

.hero-video {
  width: 100vw;
  margin-top: 10em;
  float: left;
  top: 0;
  padding: none;
  margin-bottom: 20px; 
  /*    position: absolute;
    background-position: center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    width: 100%;
    opacity: 1;
    -webkit-transition: opacity .4s cubic-bezier(.665,.235,.265,.8) 0s;
    -o-transition: opacity .4s cubic-bezier(.665,.235,.265,.8) 0s;
    -moz-transition: opacity .4s cubic-bezier(.665,.235,.265,.8) 0s;
    transition: opacity .4s cubic-bezier(.665,.235,.265,.8) 0s; */
}

.hero-blurb {
  max-width: 175rem;
  text-overflow: initial;
  margin-top: inherit;
/*   overflow-wrap: break-word; */
  word-wrap: break-word;
  /* hyphens: auto; */
  font-size: larger;
}

video::-webkit-media-controls {
  display: none;
}

.movie-section:focus-within .card,
.movie-section:focus {
  z-index: 1;
}

.card {
  z-index: 1;
}

.card:focus ~ .card,
.card:hover ~ .card {
  transform: translateX(25%);
  overflow-x: visible;
/*   overflow-y: auto; */
}

.movie-section .card:focus,
.movie-section .card:hover {
  position: static; 
  transform: scale(1.5);
  z-index: 9;
  background-color: #141414;
  /* padding-bottom: 10px; */
  box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034),
    0 6.7px 5.3px rgba(0, 0, 0, 0.048), 0 12.5px 10px rgba(0, 0, 0, 0.5),
    0 22.3px 17.9px rgba(0, 0, 0, 0.072), 0 41.8px 33.4px rgba(0, 0, 0, 0.086),
    0 100px 80px rgba(0, 0, 0, 0.5);
 /*    position: absolute; */
}


.card:first-child:focus, 
.card:first-child:hover {
  margin-left: 20px;
}


/* .more-button {
  display: flex;
  padding: 25px 10px;
  margin-left: -7em;
  border-radius: 0 10px 10px 0;
  z-index: 11;
  opacity: 0.005;
}

.fas {
  margin: 0 3px;
} */

/* .fa-angle-right{
  opacity: .05;
} */

a {
  text-decoration: none;
  color: #fff;
}

.logo {
  min-width: 25%;
  max-width: 25%;
  margin-top: 4em;

/*   width: 9em;
  height: 9em;
  /* background-image: url('https://i.imgur.com/AfD3qAs.png'); 
  background-size: 100%;
  margin: -10px;
  background-repeat: no-repeat; */
}

.more-button:hover {
  display: flex;
  background-color: rgba(3, 3, 3, 0.8);
  box-shadow: rgb(255, 255, 255, 0.5);
  opacity: 1;
  transform: none;
  transition: opacity 0.2s ease-in;
}

.fa-angle-right:hover {
  opacity: 1;
}

.page-end {
  width: 100%;
  height: 12em;
  margin-top: 5em;
  /*  margin-left: -2em;
  margin-bottom: 2%; */
  background-image: url('https://i.imgur.com/SpphZp6.png');
  background-size: 100%;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
}

ul {
  display: flex;
  list-style-type: none;
}

li {
  margin: 10px 10px;
  margin: 20px;
  justify-content: center;
}

.info-box {
  width: 100%;
  z-index: 5;
  padding-top: 20px;
  padding: 5%;
  overflow-wrap: break-word;
  word-wrap: break-word;
  hyphens: auto;
  transition-duration: 2s;
  transition-property: padding;
  transition-timing-function: ease-in-out;
  /*  transform: translateY(130%);
  /*   transition-timing-function: ease-in; */
  transition: padding 0.2s ease-in;
}

.info-box::after {
  transition: padding 0.2s ease-out;
}

.icons {
  display: block;
  padding-bottom: 5px;
}

.movie-info {
  display: inline;
  font-size: 20%;
  margin: 0;
}

#match {
  color: #46d369;
}

#rating {
  border-width: 1em;
  border: 1px solid;
  padding: 1%;
  padding-top: 0.5px;
  padding-bottom: 0.5px;
}

.movie-details {
  /*  padding-bottom: 2;
  font-size: 25%;
  padding-top: 5; */
  font-size: 10%;
  margin: 0;
  padding-top: 5%;
}

/* .details {
  padding-top: 120%;
  padding-bottom: 10px;
} */

.dot {
  color: grey;
}

.footer {
  display: flex;
  size: 100vmax;
  height: auto;
  /*  position: absolute; */
  justify-content: center;
  /*   margin-bottom: 1em; */
}

.credit {
  display: flex;
  /*  position: absolute; */
  justify-content: center;
  /*   margin-bottom: 1em; */
  margin-top: 2em;
  margin-bottom: 2em;
  color: rgb(255, 255, 255, 0.5);
}


@media screen and (max-width: 799px) {

  .info-section {
    margin-top: 40%;
  }

  .hero-blurb {
    font-size: small;
  }

  .movie-row {
    margin-left: auto;
  }

  .movie-section {
    display: flex;
    /*  justify-content: center; */
    overflow-x: scroll;
    overflow-y: visible;
    white-space: nowrap;
  }
}

@media screen and (max-width: 500px) {

  .info-section {
    margin-top: 38%;
  }

  .logo {
    max-width: 40%;
  }

}

/* 
@media screen and (min-width: 841px) and (max-width: 1280px) and (max-aspect-ratio: 4 / 3){
body, html {
    
}
}
@media screen and (min-width: 841px) and (max-width: 1280px) and (orientation: landscape) {
body, html {
    font-size: .85vw;
} 
} */
/* ----------- iPhone X ----------- */

/* Portrait and Landscape */
/* @media only screen and (min-device-width: 175px) and (max-device-width: 812px) and (-webkit-min-device-pixel-ratio: 3) {
  body,
  html {
    font-size: 75%;
    display: flex;
    flex-direction: column;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
      rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
      rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    padding: 0.5rem;
  }

  #root {
    width: 100%;
  }

  .container {
    width: 100%;
    overflow: inherit;
  }

  .logo {
    margin-left: -7em;

    width: 3em;
    height: 3em;
    background-image: url('https://i.imgur.com/AfD3qAs.png');
    background-size: 100%;
  }

  .button-section,
  .hero-blurb {
    margin-left: -40px;
    margin-top: -10;
    font-size: 7px;
    overflow-wrap: break-word;
    max-width: 12rem;
  }

  .movie-section {
    /*     width: 150%; 
    margin-left: -8em;
    margin-bottom: -10%;
  }

  .button {
    padding: 9px;
  }

  .hero-video,
  .hero,
  .hero-blurb {
    width: 100%;
    margin-top: 20px;
    max-height: 100vh;
  }

  .hero-blurb {
    text-shadow: 1px 1px #141414;
  }

  .info-section {
    margin-top: 25%;
  }

  h3 {
    margin-left: -15%;
    z-index: 10000;
  }
} */

/* Portrait and Landscape */
/* @media screen and (device-width: 360px) and (device-height: 640px) and (-webkit-device-pixel-ratio: 3) {
} */
